<div class="form-actions my-3">
  <button id="bt-github" class = "btn btn-primary mr-1" type="button">
    <i class="fab fa-github"></i>&nbsp;Github
  </button>
  <button id="bt-linkedin" class = "btn btn-primary mr-1" type="button">
    <i class="fab fa-linkedin"></i>&nbsp;LinkedIn
  </button>
  <button id="bt-google" class = "btn btn-primary mr-1" type="button">
    <i class="fab fa-google"></i>&nbsp;Google
  </button>
</div>