/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome-4.7.0/css/font-awesome
 *= require bootstrap
 *= require_self
 *= require bootstrap-datepicker.standalone.min
 */
body {
  margin-top: 70px;
}
ul {
  margin: 0;
  padding:0
}

@media (max-width: 767px) {
  .hide_mobile {
    display: none;
  }
}

.jumbotron {
  //background-image:image-url("site/journeyctrl_1.jpg");
  color:#fff;
  margin-top: -14px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.btn-primary:visited,
.btn-secondary:visited,
.btn-success:visited,
.btn-danger:visited,
.btn-warning:visited,
.btn-info:visited,
.btn-dark:visited {
  color:white;
}

.btn-light:visited {
  color: black;
}

.container-transparent {
  background-color: rgba(0, 0, 0, 0.2);
}