<p>Hello <%= @resource.name %>!</p>

<p>We're contacting you to notify you that your account password at JourneyCtrl has been changed.</p>

<p>If you have done that action please disconsider that email, otherwise,  please contact our team at <%=ENV["SUPPORT_EMAIL"]%>.</p>
