
<!-- Modal Advanced Search -->
<div id="AdvancedSearch" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Busca Avançada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= search_form_for @q, :builder => SimpleForm::FormBuilder, :html => { :class => 'form-group modal-form' }  do |f| %>

        <%= render partial: partial_file_name, locals: {f: f} %>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.button :submit, :class => 'btn btn-primary', :value => 'Search' %>
        </div>

      <% end %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->